p0{
  float:right;
}


p{
  text-align:center;
}

ol{
  
  text-align :center;
}
ul{
  text-align: left;
}

p01{
  float:right;
  margin-right:100px;
}

img{
  margin-bottom:15px;
}

div2{
  float:right;
  margin-right:170px;
}